/* Header font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&display=swap');

:root {
    --global-content-width: 800px;

    --theme-text-color: #000;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Open Sans', sans-serif;
    color: var(--theme-text-color);
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 80px;
}

p {
    max-width: 800px;
}

hr {
    border: 3px solid gray;
}

.button--white:hover {
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: unset !important;
}

.content {
    width: 800px;
}

.button--white {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 30px;
    transition: 0.3s;
    text-transform: uppercase;

    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.nomargin {
    margin: 0;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  p.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

/* Grid */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
    padding: 20px;
  }

  @media only screen and (max-width:1290px) {

    .grid {
      grid-template-columns: 1fr;
    }
  
    .details {
      justify-content: center;
      text-align: center;
      top: 0%;
    }
  }

@media only screen and (max-width:800px) {
    .content {
        width: 80%;
    }

    .button--white {
        display: block;
    }
}